body {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background: #D5E1EF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #FFFFFF;
    padding: 15px 10px;
    border-radius: 15px;
    width: 320px;
    height: 450px;
}

.qr-code {
    border-radius: 10px;
    width: 288px;
    height: 288px;
}

.description {
    color: #7D889E;
    display: flex; 
    flex-direction: column;
    gap: 10px;
    width: 288px;
}

.heading {
    font-family: "Outfit", sans-serif;
    color: #1F314F;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}

.sub-heading {
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
